@import '@mixins';
@import '@variables';

.auth {
  @include auth;
}

.signin {

  width: 500px;

  padding: 2rem;
  
  border: 1px solid $dark-orange;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.signin_title {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.signin_change {
  @include attachable_text;
  margin-top: 14px;
}