@import '@variables';
@import '@mixins';

.sidebar_logo {
  margin-block: 2rem;

  margin-left: 20px;

  display: flex;
  align-items: center;

  gap: 5px;
}

.logo_img_container {
  width: 60px;
  height: 60px;
  background-image: radial-gradient(circle at center, rgb(255, 119, 0) 0, transparent 70%);
}

.logo_hightlihgt {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_text {
  @include blurText;

  white-space: nowrap;
  overflow: hidden;

  color: $White_text_color;
  position: relative;
  font-size: 18px;
} 
