@import '@variables';

@mixin blurText($color: $base-white) {
    &:hover::before {
        color: $color;
        top: 50%;
        position: absolute;
        content: attr(data-content);
        transform: translateY(-50%);
        filter: blur(3.5px);
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        @content;
    }
}

@mixin adaptiveWidth {
    width: 92vw;

    @media screen and (min-width: $tablet-width) {
        width: 89.84375vw;
    }

    @media screen and (min-width: $laptop-width) {
        width: 1111px;
    }
}

@mixin title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.445;
    color: $White_text_color;
    margin-left: 15px;

    @media screen and (min-width: $tablet-width) {
        font-size: 40px;
    }

    @media screen and (min-width: $laptop-width) {
        font-size: 50px;
    }
}

@mixin sidebar_container {
    color: $base-white;

    border: 2px solid $base-orange;
    border-radius: 20px;

}

@mixin sidebar_unit {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;

    height: 44px;

    color: $White_text_color;
}

@mixin attachable_text {
    line-height: 14.12px;
    letter-spacing: 2.5%;
    color: $dark-orange;
    border-bottom: 1px solid $dark-orange;

    &:hover {
        color: $base-yellow;
        border-bottom: 1px solid $base-yellow;    
    }
}


@mixin auth {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $auth-background-color;
}