@import '@variables';

@mixin blurText($color: $base-white) {
    &:hover::before {
        color: $color;
        top: 50%;
        position: absolute;
        content: attr(data-content);
        transform: translateY(-50%);
        filter: blur(3.5px);
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        @content;
    }
}

@mixin adaptiveWidth {
    width: 92vw;

    @media screen and (min-width: $tablet-width) {
        width: 89.84375vw;
    }

    @media screen and (min-width: $laptop-width) {
        width: 1111px;
    }
}

@mixin title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.445;
    color: $White_text_color;
    margin-left: 15px;

    @media screen and (min-width: $tablet-width) {
        font-size: 40px;
    }

    @media screen and (min-width: $laptop-width) {
        font-size: 50px;
    }
}

@mixin sidebar_container {
    color: $base-white;

    border: 2px solid $base-orange;
    border-radius: 20px;

    margin-left: 10px;
    width: fit-content;
}

@mixin sidebar_unit {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;

    height: 44px;

    color: $White_text_color;

    &:hover {
        background-color: #1E1E1E;
    }

    cursor: pointer;
}

@mixin attachable_text {
    line-height: 14.12px;
    letter-spacing: 2.5%;
    color: $dark-orange;
    border-bottom: 1px solid $dark-orange;

    &:hover {
        color: $base-yellow;
        border-bottom: 1px solid $base-yellow;    
    }
}


@mixin auth {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $auth-background-color;
}

@mixin sidebar_panel ($height: 800px) {
    position: absolute;
    right: 0;
    bottom: 0;
    
    padding-top: 4rem;
    padding-inline: 4rem;

    height: $height;
    width: 600px;

    background-color: black;

    border-radius: 50px 0px 0px 0px;
    border-width: 1px;
    border-color: $dark-orange;
    border-style: solid;
    border-bottom: none;
    border-right: none;

    color: white;
}

@mixin project_unit {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    border: 3px solid $dark-orange;
    border-radius: 20px;
}

@mixin project_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid $dark-orange;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding-block: 20px;

    background-color: #000;

    h1 {
        color: $White_text_color;
        align-self: center;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
    }
}