$White_text_color: #fff4ea;
$base-white: #fff;
$base-orange: #ff7a00;
$dark-orange: #ff7900;
$base-yellow: #ffc700;
$mobile-width: 375px;
$tablet-width: 768px;
$laptop-width: 1120px;
$desktop-width: 1920px;

$dashboard-background-color: #000000fa;
$sidebar-background-color: #000;

:export {
    baseOrange: $base-orange;
    baseYellow: $base-yellow;
}
