@import "@mixins";
@import "@variables";

.project_header {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header_title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.header_toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header_create {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}