@import '@variables';
@import '@mixins';

.instanceModal {
  @include project_modal();
}

.instance {
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: #1E1E1E;
  }

  p {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 14px;
    color: white;
  }
}