@import '@variables';
@import '@mixins';

.tariff {
  @include sidebar_panel;
  z-index: 100;
}

.tariff_close {
  position: absolute;
  right: -50px;
  top: 8px;
  cursor: pointer;
}

.tariff_header {
  width: 100%;
  position: relative;
}

.tariff_title {
  color: $dark-orange;
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
  padding-bottom: 1rem;

  border-bottom: 1px solid $dark-orange;
}

.tariff_bill {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 700;
  color: $base-yellow;
}

.details_plan {
  padding-block: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.details_tilte {
  font-weight: 700;
  font-size: 18px;
}

.details_link {
  @include attachable_text;
  line-height: 26px;
  font-size: 18px;
}

.details_data {
  width: 100%;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 20px;
  border: 1px solid $dark-orange;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.data_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: $dark-orange;
  

  p {
    font-size: 16px;
  }
}

.data_deadline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.values_stat {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.stat_columns {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.stat_row {
  display: flex;
  justify-content: space-between;
}

.row_dash {
  margin-inline: 5px;
  flex-grow: 1;
  height: 1px;
  border-top: 2px dashed $dark-orange;
  align-self: center;
}

.tariff_income {
  width: 100%;
  color: black;
  background-color: $dark-orange;
  border-radius: 10px;
  font-weight: 700;
  padding-block: 10px;
  margin-top: 20px;
}