@import "@variables";

.create_button {
  cursor: pointer;
  border: 2px solid $dark-orange;
  border-radius: 10px;

  &:hover {
    border: 2px solid $base-yellow;
  }
}

.button_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 5px;

  font-size: 18px;
  font-weight: 400;
}

.text_img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;

  white-space: nowrap;
  overflow: hidden;

  img {
    align-self: center;
  }
}
